.videos{
    display: flex;
    padding: 10px;
    /* margin: 20px; */
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgb(18, 17, 17);
    
   
    
   }
   .image {
       
       margin: 10px;
       display: grid;
       width: 380px;
       height: 280px;
       border-radius: 10px;
       
       
   }
   
   .header {
       margin-left: 15px;
       color: rgb(229, 226, 226);
   }
   
   
   
   
   
   